<div class="new-booking">
  <%= simple_form_for [@offre, @booking] do |f|  %>
    <%= f.input :depart %>
    <%= f.input :arrivee %>
    <%= f.input :prix %>
    <%= f.submit "Valider" %>
  <% end %>

</div>
