
<% if user_signed_in? %>
    <% passager_booking = current_page?(passager_bookings_path(current_user.passager))  %>
    <% offre = current_page?(offres_path)  %>
    <% conducteur_booking =  current_page?(conducteur_bookings_path(current_user.conducteur)) %>

  <div class="tawsila-navbar" data-controller="navbar">
    <div class="sc-bottom-bar">
      <%= link_to passager_bookings_path(current_user.passager), class: "sc-menu-item #{passager_booking ? 'selected' : ''} " do  %>
        <i class="fa-solid fa-user"></i>
      <% end %>
      <%= link_to offres_path, class: "sc-menu-item #{offre ? 'selected' : ''} " do  %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      <%= link_to conducteur_bookings_path(current_user.conducteur), class: "sc-menu-item #{conducteur_booking ? 'selected' : ''} " do  %>
          <i class="fa-solid fa-car"></i>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="tawsila-navbar" data-controller="navbar">
    <div class="sc-bottom-bar">
      <%= link_to new_user_session_path, class: "sc-menu-item" do  %>
        <i class="fa-solid fa-user"></i>
      <% end %>
      <%= link_to offres_path, class: "sc-menu-item selected " do  %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      <%= link_to new_user_session_path, class: "sc-menu-item" do  %>
          <i class="fa-solid fa-car"></i>
      <% end %>
    </div>
  </div>

<% end %>
