<div class="d-flex flex-column justify-content-between pt-3" style= "height:100vh;">
    <%= image_tag "logo1", style: "height:180px; margin:0 auto;"  %>
  <div class="container">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "e-mail@exemple.com" %>
        <%= f.input :password, label: "Mot de passe",
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    placeholder: "••••••••••••••••" %>
        <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit,  "Se connecter", :class => "primary flex-grow-1" %>
        <%= f.button :submit,  "Créer un compte", :class => "secondary flex-grow-1" %>
      </div>
    <% end %>
  </div>
  <%= image_tag "car", style: "margin:0 auto;"  %>
</div>
