<div class="card-offre mb-3">
     <%# <div class="img-card">
     <h3> <%= offre.description_trajet %></h3>

     <%= unless offre.voiture.photo.key %>
        <div class="images-card" style="background-image: url('<%= image_url "voiture1.jpeg" %>');background-size: cover;
        background-repeat: no-repeat; height: 100%; width: 200px; background-position: center;">
    <% else %>
     <div class="images-card" style="background-image: url('<%= offre.voiture.photo.url %>');background-size: cover;
        background-repeat: no-repeat; height: 100%; width: 200px; background-position: center;">
    <% end %>

   </div>

  <div class="offre-info p-3">

     <div class= "d-flex gap-2 align-items-center">
      <%= image_tag "location" %>
      <span><%= offre.depart %></span>
    </div>
    <%= image_tag "trajet" %>
    <div class= "d-flex gap-2 align-items-center">
      <%= image_tag "location" %>
      <span><%= offre.arrivee %></span>
    </div>
    <div class= "d-flex gap-2 align-items-center mt-2">
      <%= image_tag "date" %>
      <span><%= offre.heure_depart.strftime('%d/%m/%y -%H:%M') %></span>
    </div>
    <div class= "d-flex gap-2 align-items-center mt-2">
      <%= image_tag "driver" %>
      <span><%= offre.voiture.conducteur.user.first_name %></span>
    </div>
    <div class= "d-flex gap-2 align-items-center mt-2">
      <%= image_tag "price" %>
      <span><%= offre.prix %> MAD</span>
    </div>
  </div>

</div>
