<div class="card-offre">
  <div class="image-card">
    <h3> <%= offre.description_trajet %></h3>
    <%= image_tag "voiture1.jpeg", alt: "Image de la voiture", width: 200 %>
  </div>
  <br>
  <div class="offre-info">

     <p>
      <i><i class="fa-solid fa-road"></i></i>
      <span><%= offre.depart %></span> - <span><%= offre.arrivee %></span>
    </p>
     <p>
      <i><i class="fa-solid fa-calendar-days"></i></i>
      <span><%= offre.heure_depart %></span>
    </p>
    <p>
      <i class="fa-solid fa-user"></i>
      <span> <%= offre.voiture.conducteur.user.first_name %> </span>
    </p>
  </div>
  <br>
  <div class="prix">
    <p>
      <i class="fa-solid fa-hand-holding-dollar"></i>
      <span> <%= offre.prix %> </span>
    </p>
  </div>
</div>
