
  <div class=" w-100 p-3 mt-3">
    <div class="d-flex flex-column gap-3 position-relative">
      <%= simple_form_for(offre) do |f| %>
      <%= f.input :description_trajet, label: 'Donner une description à votre trajet' %>
      <%# <%= f.input :types, label: 'Type de produit', collection: {Pantalon: :Pantalon, Jupe: :Jupe, Costume: :Costume, Robe: :Robe, Accessoire: :Accessoire, Chaussure: :Chaussure, Short: :Short, Equipement: :Equipement, Bijoux: :Bijoux, Autres: :Autres} %>
      <%= f.input :voiture_id, as: :select, label: 'Sélectionner votre voiture', collection: current_user.conducteur.voitures, label_method: :voiture_name %>
      <%= f.input :depart, label: 'Point de départ' %>
      <%= f.input :arrivee, label: "Point d'arrivée" %>
      <%= f.input :heure_depart, label: 'Heure de départ' %>
      <%= f.input :prix, label: 'Prix du trajet complet' %>
      <%# <%= f.input :image, label: 'Télécharger une photo de votre article'%>
      <div class="d-flex w-100 gap-3">
      <%= f.submit "Ajouter", class: "btn btn-primary-sm" %>
      <%= link_to bookings_path, class: "btn btn-danger-sm" do %>
        Annuler
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
