<div class="container">
   <div class="row">
    <div class="col-12 col-lg-8">
      <h2 class="mt-5"><%= @offre.description_trajet %></h2>
      <p>Point de départ: <%= @offre.depart %></p>
      <p>Point d'arrivée: <%= @offre.arrivee %></p>
      <p>heure de départ: <%=@offre.heure_depart %></p>
      <p>Prix du trajet complet: <%= @offre.prix %></p>
      <%# <%= link_to "Je réserve 💪", "" %>
    </div>
</div>

<% simple_form_for @booking do |f|  %>
<%= f.input :prix %>
<%= f.submit "Valider" %>
<% end %>
