<div class="voiture_card">
  <%= simple_form_for (voiture) do |f| %>
    <%= f.input :marque, label: 'Marque de la voiture' %>
    <%= f.input :model, label: 'Modèle de la voiture' %>
    <%= f.input :immatriculation, label: 'Immatriculation' %>
     <%= f.input :photo, as: :file, label: 'Photo de la voiture'  %>
    <%= f.submit "valider" %>
  <% end %>
</div>
